#{{ ansible_managed }}
input {

#exec { command => "CURRENT_LOGFILE=$(ls -rt /srv/*-jetty-*/logs/*stderrout.log | tail -1); logtail2 -o /tmp/$(basename $CURRENT_LOGFILE).offset $CURRENT_LOGFILE" interval => "30" }

  file {
    type => "jetty_access"
    path => "{{ application_home }}/log/*.request.log"
  }

}

filter {

  if [type] == "jetty" {

    grok {
      match => { "message" => "%{IPORHOST:clientip} - %{DATA:data1} - %{DATA:data2} \[%{HTTPDATE:timestamp}\] \"(?:%{WORD:verb} %{NOTSPACE:request}(?: HTTP/%{NUMBER:httpversion})?|%{DATA:rawrequest})\" %{NUMBER:response}" }
    }
    date {
      match => [ "timestamp" , "dd/MMM/yyyy:HH:mm:ss Z", "MMM dd, yyyy HH:mm:ss a" ]
    }

  }
}

#COMMONAPACHELOG %{IPORHOST:clientip} %{USER:ident} %{USER:auth} \[%{HTTPDATE:timestamp}\] "(?:%{WORD:verb} %{NOTSPACE:request}(?: HTTP/%{NUMBER:httpversion})?|%{DATA:rawrequest})" %{NUMBER:response} (?:%{NUMBER:bytes}|-)
#      match => { "message" => "%{IPORHOST:clientip} -  -  \[%{MONTHDAY}/%{MONTH}/%{YEAR}:%{TIME}%{SPACE}+%{NUMBER:num1}\]%{SPACE}"(?:%{WORD:verb} %{NOTSPACE:request}(?: HTTP/%{NUMBER:httpversion})?|%{DATA:rawrequest})" %{NUMBER:response} (?:%{NUMBER:bytes}|-)" }
