#{{ ansible_managed }}
input {

  file {
    type => "jboss"
    path => "/workspace/jboss/jboss-as-7.1.1.Final/standalone/log/boot.log"
    #start_position => beginning
  }
  
  file {
    type => "jboss"
    path => "/workspace/jboss/jboss-as-7.1.1.Final/standalone/log/server.log"
    #start_position => beginning
  }
  
}

filter {

  if [type] == "jboss" {

    multiline {
      pattern => "^\\s"
      what => "previous"
    }

    grok {
#      pattern => "%{DATESTAMP:timestamp} %{WORD:severity} %{GREEDYDATA:message}"
      match => { "message" => "%{DATESTAMP:timestamp} %{WORD:severity} %{GREEDYDATA:message}" }
    }
    
#    mutate {
#      replace => [ "@message", "%{message}" ]
#    }
  }  

}
