#{{ ansible_managed }}
input {
  file {
    type => "redis"
    path => ["/var/log/redis/*.log"]
  }
#  tcp {
#    port => "5145"
#    type => "syslog-network"
#  }
#  udp {
#    port => "5145"
#    type => "syslog-network"
#  }
  redis {
    host => "{{ redis_bind_interface }}"
    data_type => "list"
    key => "logstash"
    codec => json
  }
}
filter {
  if [type] == "redis" {
    grok {
      match => {
        "message" => "\[%{POSINT:pid}\] %{REDISTIMESTAMP:timestamp} \# %{GREEDYDATA:message}"
      }
      overwrite => "message"
    }

    date {
      match => ["timestamp", "dd MMM HH:mm:ss.SSS"]
      remove_field => ["timestamp"]
    }
  }
}
output {
  elasticsearch {
    host => {{ logstash_elasticsearch_host }}
  }
  stdout { codec => rubydebug }
}
