#{{ ansible_managed }}
input {
#  file {
#    type => "syslog"
#    path => [ "/var/log/auth.log", "/var/log/messages", "/var/log/syslog" ]
#  }
#  tcp {
#    port => "5145"
#    type => "syslog-network"
#  }
#  udp {
#    port => "5145"
#    type => "syslog-network"
#  }
  redis {
    host => "{{ redis_bind_interface }}"
    data_type => "list"
    key => "logstash"
    codec => json
  }
}
#output {
#  redis {
#    host => "{{ redis_bind_interface }}"
#     data_type => "list"
#     key => "logstash"
#  }
#  stdout { codec => rubydebug }
#}
