#{{ ansible_managed }}
input {

  file {
    type => "sybase"
    path => "{{ sybase_dir }}/{{ sybase_user }}/{{ sybase_version }}/install/{{ sybase_log_file }}"
  }

}

filter {

  if [type] == "sybase" {
    multiline {
      pattern => "^%{NUMBER:num1}:%{NUMBER:num2}:%{NUMBER:num3}:%{NUMBER:num4}:%{YEAR}/%{MONTHNUM}/%{MONTHDAY}%{SPACE}%{TIME}"
      negate => true
      what => "previous"
    }
#    mutate { replace => { type => "{{ application_name }}" } }
  }

}
